/* CSS for image editor */

.mycanvas {
    background-color: #4A90E2;
    
}

.none-upload {
    display: none;
}

.menu-title-2 {
    color: #c5c5c5;
}

.svg-off {
    display: none;
    background-color: red;
}