/* CSS for image editor */

.mycanvas {
    background-color: #4A90E2;
    
}

.none-upload {
    display: none;
}

.menu-title-2 {
    color: #c5c5c5;
}

.custom-file {
    width: 25%;
}

.custom-file-input input[type=file] {
    background-color: #20344c;
  }

  .custom-file input[type=file] {
    background-color: #20344c;
  }

  body  {
      font-size: 12px;
  }